.containerCardServico{
    background-color: white;
    width: calc(100% - 10%);
    align-self: center;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    position: relative;
}
.containerButton{
    position: absolute;
    top: 1;
    right: 0; 
    padding: 5px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.eyeStatus{
    color: green;
    font-size: 1.1rem;
    background: none;
    border: none;
    cursor: pointer;
}
.btnEdit{
    background-color: rgb(43, 43, 43);
    padding: 5px;
    border-radius: 8px;
    width: 80px;
    border: none;
    color: white;
    cursor: pointer;
}
.btnDelet{
    width: 80px;
    border: none;
    padding: 5px;
    border-radius: 8px;
    color: red;
    background-color: rgba(255, 0, 0, 0.11);
    cursor: pointer;
}
.btnDelet > span{
    margin-right: 5px;
}
.containerInfoServico{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.topInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topInfo > span{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}
.topInfo > p {
    color: grey;
}
.bottomInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bottomInfo > p {
    display: flex;
    gap: 25px;
}
.value{
    font-weight: bold;
    font-family: sans-serif;
}
.min{
    color: grey;
}
.infoDate{
    display: flex;
    gap: 20px;
}
.date{
    color: grey;
}
.statusActive{
    color: black;
    background-color: rgba(0, 128, 0, 0.164);
    padding: 2px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 0.8rem;
    width: 50px;
    text-align: center;
    
}
.statusOff{
    background-color: rgba(255, 0, 0, 0.164);
    padding: 2px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 0.8rem;
    width: 50px;
    color: black;
    text-align: center;
}