.topBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px;
}
.topBox > button {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.253);
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}